
{% extends 'tl/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


</div>	
<div class="row">

	<div class="col-md-6">
		<a class="btn btn-large btn-default" href="http://localhost:8000/tl/newtest/" role="button"> 
			<span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:30px"> </span>
		</a>
	</div>

	<div class="col-md-6">
		<p>Informational paragraph</p>
	</div>	
</div>

<div class="row">
	<div class="col-md-6" left-align=True>
	<h3> Current Tests </h3>
	
	{% for test in test_list %}
	    <li><a href='{% url "tl:detail" test.pk %}'> {{ test.test_no }}        {{ test.test_name }} </a></li>
	{% endfor %}
	</div>
</div>


{% endblock %}


