
{% extends 'tl/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<form enctype="multipart/form-data" method="POST" class="post-form"> {% csrf_token %}

<div class="row">
	<div class="col-md-4">	
  	<h4></h4>
  		<h3>Test Parameters</h3>
		{{ test_form|crispy}}
		{{ sponsor_form|crispy}}
		<br></br>

	  	<h3>Dates</h3>
		{{ wavedate_form|crispy}}
		<br></br>

	 	<h3>Products</h3>
	 	<h4>Tier 1</h4>

		{{ product_form.super_category_tier1|as_crispy_field}}
		{{ product_form.category_tier1|as_crispy_field}}
		{{ product_form.sub_category_tier1|as_crispy_field}}
		{{ product_form.segment_tier1|as_crispy_field}}
		{{ product_form.sku_tier1|as_crispy_field}}
		{{ product_form.group_tier1|as_crispy_field}}

		<br></br>

	 	<h4>Tier 2</h4>

		{{ product_form.super_category_tier2|as_crispy_field}}
		{{ product_form.category_tier2|as_crispy_field}}
		{{ product_form.sub_category_tier2|as_crispy_field}}
		{{ product_form.segment_tier2|as_crispy_field}}
		{{ product_form.sku_tier2|as_crispy_field}}

		<br></br>
	 	<h3>Stores</h3>
		{{ store_form|crispy}}
	</div>
</div>

	<button type="submit" class="save btn btn-default"> Save </button>
</form>


{% endblock %}


